/* ============================================
   DASHBOARD
   ============================================ */

.dashboard-container h1 {
  font-family: var(--font-heading-02);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-03);
  margin-bottom: var(--gap-s);
}

.dashboard-container .saldo-card {
  border-radius: var(--gap-m);
  background: var(--color-03);
  color: var(--color-06);
  padding: 2rem;
  margin-bottom: var(--gap);
}

.dashboard-container .saldo-card h2 {
  font-family: var(--font-heading-02);
  font-weight: normal;
  font-size: var(--gap-m);
  margin-bottom: var(--gap-s);
}

.dashboard-container .saldo-card p {
  font-family: var(--font-heading-02);
  font-weight: 600;
  font-size: var(--gap);
}

.dashboard-container .transacoes h2 {
  font-family: var(--font-heading-02);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-03);
  margin-bottom: var(--gap-s);
}

.dashboard-container .transacoes ul {
  border-radius: var(--gap-s);
  background: var(--color-06);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.dashboard-container .transacao-item {
  justify-content: space-between;
  font-family: var(--font-heading-02);
  border-bottom: solid 1px #E9E4E6;
  padding: var(--gap-m);
}

.dashboard-container .transacao-item .box-icone-texto {
  grid-template-columns: auto 1fr;
  gap: var(--gap-m);
}

.dashboard-container .transacao-item .box-icone-texto .box-icone {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ddd;
}

.dashboard-container .transacao-item .box-icone-texto .box-texto h3 {
  font-family: var(--font-heading-02);
  font-weight: 600;
  margin-bottom: var(--gap-s);
}

.dashboard-container .transacao-item .box-icone-texto .box-texto span {
  display: block;
  font-size: .875rem;
  color: var(--color-04);
}
